<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>黑马点评</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/blog-edit.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-cancel-btn" @click="goBack">取消</div>
    <div class="header-title">&nbsp;&nbsp;{{ isEditMode ? '编辑笔记' : '发笔记' }}<i class="el-icon-info"></i></div>
    <div class="header-commit">
      <div
          class="header-commit-btn"
          v-if="!isEditMode || (user && user.id === params.userId)"
          @click="submitBlog">
        {{ isEditMode ? '保存' : '发布' }}
      </div>
    </div>
  </div>
  <div class="upload-box">
    <input type="file" @change="fileSelected" name="file" ref="fileInput" style="display: none">
    <div class="upload-btn" @click="openFileDialog">
      <i class="el-icon-camera"></i>
      <div style="font-size: 12px;line-height: 12px">上传照片</div>
    </div>
    <div class="pic-list">
      <div class="pic-box" v-for="(f,i) in fileList" :key="i">
        <img :src="f" alt="">
        <i class="el-icon-close" @click="deletePic(i)"></i>
      </div>
    </div>
  </div>
  <div class="blog-title">
    <input v-model="params.title" type="text" placeholder="填写标题更容易上首页哦~">
  </div>
  <div class="blog-content">
    <textarea v-model="params.content" placeholder="最近打卡了什么地方，有什么新奇体验呢？"></textarea>
  </div>
  <div class="divider"></div>
  <div class="blog-shop" @click="showDialog=true">
    <div class="shop-left">关联商户</div>
    <div v-if="selectedShop.name">{{selectedShop.name}}</div>
    <div v-else>去选择&nbsp;<i class="el-icon-arrow-right"></i></div>
  </div>
  <div class="mask" v-show="showDialog" @click="showDialog=false"></div>

  <transition name="el-zoom-in-bottom">
    <div class="shop-dialog" v-show="showDialog">
      <div class="blog-shop">
        <div class="shop-left">关联商户</div>
      </div>
      <div class="search-bar">
        <div class="city-select">杭州 <i class="el-icon-arrow-down"></i></div>
        <div class="search-input">
          <i class="el-icon-search" @click="queryShops"></i>
          <input v-model="shopName" type="text" placeholder="搜索商户名称">
        </div>
      </div>
      <div class="shop-list">
        <div v-for="s in shops" class="shop-item" @click="selectShop(s)">
          <div class="shop-name">{{s.name}}</div>
          <div>{{s.area}}</div>
        </div>
      </div>
    </div>
  </transition>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script src="./js/footer.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data() {
      return {
        util,
        fileList: [], // 文件列表
        params: {
          id: null,
          title: "",
          content: "",
          userId: null
        },
        user: {},
        blogId: null,
        isEditMode: false,
        showDialog: false, //
        shops: [], // 商户信息
        shopName: "", //商户名称
        selectedShop: {}, // 选中的商户
      }
    },
    created() {
      this.checkLogin(() => {
        this.initMode();
      });
      this.queryShops();
    },
    methods: {
      initMode() {
        const id = util.getUrlParam("id");
        if (!id) return;
        this.blogId = id;
        this.isEditMode = true;
        this.queryBlogById(id);
      },
      queryBlogById(id) {
        axios.get("/blog/" + id)
          .then(({data}) => {
            if (data && data.success === false) {
              this.$message.error(data.errorMsg || "获取博客失败");
              return;
            }
            const blog = data && data.data ? data.data : data;
            if (!blog || !blog.id) {
              this.$message.error("博客不存在或已删除");
              return;
            }
            this.params.id = blog.id;
            this.params.title = blog.title || "";
            this.params.content = blog.content || "";
            this.params.userId = blog.userId || null;
            this.fileList = blog.images ? blog.images.split(",") : [];
            if (blog.shopId) {
              this.selectedShop = {id: blog.shopId, name: blog.shopName || ""};
            }
          })
          .catch(err => this.$message.error((err && err.message) || "获取博客失败"));
      },
      queryShops() {
        axios.get("/shop/of/name?name=" + this.shopName)
          .then(({data}) => this.shops = data)
          .catch(this.$message.error)
      },
      selectShop(s) {
        this.selectedShop = s;
        this.showDialog = false;
      },
      submitBlog() {
        if (!this.params.title || !this.params.content) {
          this.$message.error("标题和内容不能为空");
          return;
        }
        if (this.isEditMode && this.user && this.params.userId && this.user.id !== this.params.userId) {
          this.$message.error("您没有权限修改他人的博客！");
          return;
        }
        let {...data} = this.params;
        data.images = this.fileList.join(",");
        if (!this.isEditMode) {
          data.shopId = this.selectedShop.id;
        }
        const request = this.isEditMode ? axios.put("/blog", data) : axios.post("/blog", data);
        request
          .then((res) => {
            if (res.data && res.data.success === false) {
              this.$message.error(res.data.errorMsg || (this.isEditMode ? "修改失败" : "发布失败"));
              return;
            }
            this.$message.success(this.isEditMode ? "修改成功！" : "发布成功！");
            setTimeout(() => {
              if (this.isEditMode) {
                history.back();
              } else {
                location.href = "/info.html";
              }
            }, 300);
          })
          .catch((err) => {
            this.$message.error((err && err.message) || (this.isEditMode ? "修改失败" : "发布失败"));
          });
      },
      openFileDialog() {
        this.$refs.fileInput.click();
      },
      fileSelected() {
        let file = this.$refs.fileInput.files[0];
        let formData = new FormData();
        formData.append("file", file);
        const config = {
          headers: {"Content-Type": "multipart/form-data;boundary=" + new Date().getTime()}
        };
        axios
          .post("/upload/blog", formData, config)
          .then(({data}) => this.fileList.push('/imgs' + data))
          .catch(this.$message.error);
      },
      deletePic(i) {
        axios.get("/upload/blog/delete?name=" + this.fileList[i])
          .then(() => this.fileList.splice(i, 1))
          .catch(this.$message.error)
      },
      checkLogin(cb) {
        // 获取token
        let token = sessionStorage.getItem("token");
        if (!token) {
          location.href = "login.html"
        }
        // 查询用户信息
        axios.get("/user/me")
          .then(({data}) => {
            this.user = data;
            if (cb) cb();
          })
          .catch(err => {
            this.$message.error(err);
            if (err === "请先登录") {
              setTimeout(() => location.href = "login.html", 200);
            }
          })
      },
      goBack() {
        history.back();
      },
      handleRemove(file) {
        console.log(file);
      }
    },

  })
</script>
</body>
</html>