<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>黑马点评</title>
  <link rel="stylesheet" href="./css/element.css">
  <link href="./css/main.css" rel="stylesheet">
  <link href="./css/info.css" rel="stylesheet">

  <style type="text/css">
    .save-btn {
      position: fixed; bottom: 70px; left: 50%;
      transform: translateX(-50%);
      width: 90%; max-width: 400px;
      background-color: #f63; color: #fff;
      border: none; border-radius: 24px;
      height: 44px; font-size: 16px; cursor: pointer;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title">资料编辑&nbsp;&nbsp;&nbsp;</div>
  </div>
  <div class="edit-container">
    <div class="info-box">
      <div class="info-item">
        <div class="info-label">昵称</div>
        <div class="info-btn">
          <el-input v-model="user.nickName" placeholder="请输入昵称" style="width:200px"></el-input>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">个人介绍</div>
        <div class="info-btn">
          <el-input v-model="info.introduce" placeholder="介绍一下自己" style="width:200px"></el-input>
        </div>
      </div>
    </div>
    <div class="info-box">
      <div class="info-item">
        <div class="info-label">性别</div>
        <div class="info-btn">
          <el-select v-model="info.gender" placeholder="请选择" style="width:200px">
            <el-option label="男" :value="false"></el-option>
            <el-option label="女" :value="true"></el-option>
          </el-select>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">城市</div>
        <div class="info-btn">
          <el-input v-model="info.city" placeholder="请输入城市" style="width:200px"></el-input>
        </div>
      </div>
      <div class="divider"></div>
      <div class="info-item">
        <div class="info-label">生日</div>
        <div class="info-btn">
          <el-date-picker v-model="info.birthday" type="date" placeholder="选择生日"
            value-format="yyyy-MM-dd" style="width:200px">
          </el-date-picker>
        </div>
      </div>
    </div>
  </div>

  <button class="save-btn" @click="save">保存</button>
  <foot-bar :active-btn="4"></foot-bar>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script src="./js/footer.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      user: { nickName: "", icon: "" },
      info: { introduce: "", city: "", gender: null, birthday: null },
    },
    created() {
      this.checkLogin();
    },
    methods: {
      checkLogin() {
        axios.get("/user/me")
          .then(({data}) => {
            this.user = data;
            const cached = JSON.parse(sessionStorage.getItem("userInfo") || "{}");
            this.info = cached;
          })
          .catch(() => {
            setTimeout(() => location.href = "login.html", 1000);
          });
      },
      save() {
        const p1 = axios.put("/user/me", { nickName: this.user.nickName, icon: this.user.icon });
        const p2 = axios.put("/user/info", this.info);
        Promise.all([p1, p2])
          .then(() => {
            this.$message.success("保存成功！");
            sessionStorage.removeItem("userInfo");
            setTimeout(() => history.back(), 1000);
          })
          .catch(err => {
            const msg = err && err.response && err.response.data
              ? err.response.data.errorMsg || "保存失败"
              : "保存失败";
            this.$message.error(msg);
          });
      },
      goBack() {
        history.back();
      }
    }
  });
</script>
</body>
</html>
